In [1]:
import numpy as np
import pandas as pd

In [2]:
movies_df = pd.read_csv("tmdb_5000_movies.csv")
credits_df = pd.read_csv("tmdb_5000_credits.csv")

In [3]:
#MERGING 2 DATAFRAMES

movies_df = movies_df.merge(credits_df, on = "title")

In [4]:
movies_df.shape

(4809, 23)

In [5]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [6]:
#genre
#id
#original language
#keywords
#title
#overview
#release date(maybe later)
#cast
#crew

movies_df = movies_df[["genres", "movie_id", "keywords", "original_language", "title", "overview", "cast", "crew"]]

In [7]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genres             4809 non-null   object
 1   movie_id           4809 non-null   int64
 2   keywords           4809 non-null   object
 3   original_language  4809 non-null   object
 4   title              4809 non-null   object
 5   overview           4806 non-null   object
 6   cast               4809 non-null   object
 7   crew               4809 non-null   object
dtypes: int64(1), object(7)
memory usage: 300.7+ KB

In [8]:
movies_df.isnull().sum()

genres               0
movie_id             0
keywords             0
original_language    0
title                0
overview             3
cast                 0
crew                 0
dtype: int64

In [9]:
movies_df.dropna(inplace = True)

In [10]:
movies_df.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [11]:
import ast
def process_dict_to_list(obj):
    obj = ast.literal_eval(obj) #string ---> dict
    L = []
    for i in obj:
        L.append(i["name"])
    return L

In [12]:
process_dict_to_list(movies_df.iloc[0].genres)

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [13]:
movies_df["genres"] = movies_df["genres"].apply(process_dict_to_list)

In [14]:
movies_df["keywords"] = movies_df["keywords"].apply(process_dict_to_list)

In [15]:
movies_df

,genres,movie_id,keywords,original_language,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...",en,John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...
4804,"[Action, Crime, Thriller]",9367,"[united statesâ€“mexico barrier, legs, arms, pap...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,"[Comedy, Romance]",72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,"[Comedy, Drama, Romance, TV Movie]",231617,"[date, love at first sight, narration, investi...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,[],126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,[Documentary],25975,"[obsession, camcorder, crush, dream girl]",en,My Date with Drew,Ever since the second grade when he first saw ...,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [16]:
def top_actors(movie_cast):
    movie_cast = ast.literal_eval(movie_cast)
    actors = []
    for char_desc in movie_cast:
        actors.append(char_desc["name"])
        if len(actors) == 3:
            return actors
    return actors

In [17]:
movies_df["cast"] = movies_df["cast"].apply(top_actors)

In [18]:
def only_director(movie_crew):
    movie_crew = ast.literal_eval(movie_crew)
    for crew_desc in movie_crew:
        if crew_desc["job"] == "Director":
            return [crew_desc["name"]]

In [19]:
only_director(movies_df["crew"][0])

['James Cameron']

In [20]:
movies_df["crew"] = movies_df["crew"].apply(only_director)

In [21]:
movies_df

,genres,movie_id,keywords,original_language,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...",en,John Carter,"John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]
...,...,...,...,...,...,...,...,...
4804,"[Action, Crime, Thriller]",9367,"[united statesâ€“mexico barrier, legs, arms, pap...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,"[Comedy, Romance]",72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Edward Burns, Kerry BishÃ©, Marsha Dietlein]",[Edward Burns]
4806,"[Comedy, Drama, Romance, TV Movie]",231617,"[date, love at first sight, narration, investi...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Eric Mabius, Kristin Booth, Crystal Lowe]",[Scott Smith]
4807,[],126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,"[Daniel Henney, Eliza Coupe, Bill Paxton]",[Daniel Hsia]
4808,[Documentary],25975,"[obsession, camcorder, crush, dream girl]",en,My Date with Drew,Ever since the second grade when he first saw ...,"[Drew Barrymore, Brian Herzlinger, Corey Feldman]",[Brian Herzlinger]

In [22]:
movies_df.isnull().sum()

genres                0
movie_id              0
keywords              0
original_language     0
title                 0
overview              0
cast                  0
crew                 30
dtype: int64

In [23]:
null_only = movies_df[movies_df.isnull().any(axis = 1)]
null_only

,genres,movie_id,keywords,original_language,title,overview,cast,crew
3665,[Drama],19615,[],en,Flying By,A real estate developer goes to his 25th high ...,"[Billy Ray Cyrus, Heather Locklear, Ahnaise Ch...",None
3674,[Family],447027,[],en,Running Forever,After being estranged since her mother's death...,[],None
3734,"[Drama, Family, Foreign]",26379,[],en,Paa,He suffers from a progeria like syndrome. Ment...,"[Amitabh Bachchan, Abhishek Bachchan, Vidya Ba...",None
3982,"[Comedy, Drama, Romance]",55831,[independent film],en,Boynton Beach Club,A handful of men and women of a certain age pi...,"[Brenda Vaccaro, Dyan Cannon, Joseph Bologna]",None
4073,[],371085,[],en,Sharkskin,The Post War II story of Manhattan born Mike E...,[],None
4110,[],48382,[],en,"The Book of Mormon Movie, Volume 1: The Journey",The story of Lehi and his wife Sariah and thei...,"[Kirby Heyborne, Michael Flynn]",None
4123,[],325140,[],en,Hum To Mohabbat Karega,"Raju, a waiter, is in love with the famous TV ...",[],None
4128,"[Animation, Family, Foreign]",20653,[],en,Roadside Romeo,This is the story of Romeo. A dude who was liv...,"[Saif Ali Khan, Kareena Kapoor, Javed Jaffrey]",None
4252,"[Romance, Comedy, Drama]",361505,[],en,Me You and Five Bucks,"A womanizing yet lovable loser, Charlie, a wai...",[],None
4311,"[Comedy, Music]",114065,[],en,Down & Out With The Dolls,"The raunchy, spunky tale of the rise and fall ...",[],None
4320,[],137955,[],en,Crowsnest,"In late summer of 2011, five young friends on ...",[],None
4328,[Documentary],102840,[],en,Sex With Strangers,"For some married couples, sex is an obsession ...",[],None
4380,[Comedy],47686,[independent film],en,Dream with the Fishes,Terry is a suicidal voyeur who treats a dying ...,"[David Arquette, Brad Hunt, Kathryn Erbe]",None
4407,"[Action, Comedy, Science Fiction]",43630,[],en,The Helix... Loaded,,[],None
4411,"[Family, Comedy]",357441,[],en,Karachi se Lahore,A road trip from Karachi to Lahore where 5 fri...,"[Shehzad Sheikh, Ayesha Omar, Yasir Hussain]",None
4464,[],279759,[],en,Harrison Montgomery,Film from Daniel Davila,[],None
4510,[],331493,[],en,Light from the Darkroom,Light in the Darkroom is the story of two best...,[],None
4559,[],380097,[],en,America Is Still the Place,1971 post civil rights San Francisco seemed li...,[],None
4568,[],297100,[],en,The Little Ponderosa Zoo,The Little Ponderosa Zoo is preparing for thei...,[],None
4572,[],325579,[],en,Diamond Ruff,"Action - Orphan, con artist, crime boss and mi...",[],None
4577,[],328307,[],en,Rise of the Entrepreneur: The Search for a Bet...,The world is changing faster than ever. Techno...,[],None
4589,[Documentary],47546,[],en,I Want Your Money,Two versions of the American dream now stand i...,[],None
4595,"[Drama, Mystery, Thriller]",43743,[independent film],en,Fabled,Joseph just broke up with his girlfriend and i...,[],None
4639,[],300327,[],en,Death Calls,An action-packed love story on the Mexican bor...,[],None
4644,"[Drama, Action, Crime]",378237,[],en,Amidst the Devil's Wings,"Prequel to ""5th of a Degree.""",[],None
4650,[Horror],325123,[],en,Teeth and Blood,A beautiful diva is murdered on the set of hor...,"[Glenn Plummer, Michelle Van Der Water, Daniel...",None
4663,[],320435,[],en,UnDivided,UnDivided documents the true story of how a su...,[],None
4668,[Comedy],40963,[independent film],en,Little Big Top,An aging out of work clown returns to his smal...,"[Sid Haig, Richard Riehle, Mel England]",None
4680,[],194588,[],en,Short Cut to Nirvana: Kumbh Mela,Every 12 years over 70 million pilgrims gather...,[],None
4722,[],38786,[],en,The Blood of My Brother: A Story of Death in Iraq,THE BLOOD OF MY BROTHER goes behind the scenes...,[],None

In [24]:
movies_df["overview"] = movies_df["overview"].apply(lambda x: x.split())

In [25]:
movies_df.dropna(inplace = True)

In [26]:
movies_df["genres"] = movies_df["genres"].apply(lambda l : [i.replace(" ", "") for i in l])
movies_df["keywords"] = movies_df["keywords"].apply(lambda l : [i.replace(" ", "") for i in l])
movies_df["cast"] = movies_df["cast"].apply(lambda l : [i.replace(" ", "") for i in l])
movies_df["crew"] = movies_df["crew"].apply(lambda l : [i.replace(" ", "") for i in l])

In [27]:
movies_df.shape

(4776, 8)

In [28]:
movies_df["tags"] = movies_df["overview"] + movies_df["genres"] + movies_df["keywords"] + movies_df["crew"]

In [29]:
movies_df.head(1)

,genres,movie_id,keywords,original_language,title,overview,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",en,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [30]:
new_df = movies_df[["movie_id", "title", "tags"]]

In [31]:
new_df["tags"] = new_df["tags"].apply(lambda x: " ".join(x))

C:\Users\Khushi\AppData\Local\Temp\ipykernel_33724\3719869087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x: " ".join(x))

In [32]:
#converting to lower case
new_df["tags"] = new_df["tags"].apply(lambda x: x.lower())

C:\Users\Khushi\AppData\Local\Temp\ipykernel_33724\2320007851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x: x.lower())

In [33]:
new_df

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

In [47]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = "english")

In [48]:
vectors = cv.fit_transform(new_df["tags"]).toarray()

In [49]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [37]:
import nltk

In [40]:
#for stemming words eg: [danced, dancing, dance] = [dance, dance, dance]
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [42]:
def stem_similar(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [45]:
new_df["tags"] = new_df["tags"].apply(stem_similar)

C:\Users\Khushi\AppData\Local\Temp\ipykernel_33724\1950796938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(stem_similar)

In [46]:
new_df.head(3)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...

In [50]:
new_df.shape

(4776, 3)

In [51]:
vectors = cv.fit_transform(new_df["tags"]).toarray()

In [52]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [53]:
from sklearn.metrics.pairwise import cosine_similarity

In [60]:
similarity = cosine_similarity(vectors)

In [59]:
new_df[new_df["title"] == "Batman Begins"].index[0]

np.int64(119)

In [68]:
def recommend(movie_title):
    movie_index = new_df[new_df["title"] == movie_title].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse = True, key=lambda x: x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [77]:
recommend("The Truman Show")

Copying Beethoven
1982
Juliet and Alfa Romeo
Should've Been Romeo
The Diving Bell and the Butterfly